Flask==1.1.1
gunicorn==19.9.0
Keras==2.4.3
Werkzeug==1.0.1
numpy==1.20.3
librosa==0.8.1
MarkupSafe==1.1.1
python=3.8.10=hdbf39b2_7
python-dateutil=2.8.2=pyhd3eb1b0_0
python-jsonrpc-server=0.4.0=py_0
python-language-server=0.36.2=pyhd3eb1b0_0
python-libarchive-c=2.9=pyhd3eb1b0_1
python_abi=3.8=2_cp38
