absl-py 
alabaster 
anyio 
appdirs==1.4.4
applaunchservices
appnope
appscript
argh==0.26.2
argon2-cffi
arrow==0.13.1
asn1crypto 
astor
astroid
astropy 
astunparse 
async-generator
atomicwrites==1.4.0
attrs 
audioread
autopep8
Babel 
backcall 
backports.shutil-get-terminal-size 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
blinker==1.4
bokeh 
boto==2.49.0
debugpy 
Flask 
h5py==2.10.0
html5lib 
importlib-metadata 
itsdangerous 
Jinja2 
jinja2-time 
json5 
Keras-Preprocessing 
lazy-object-proxy 
librosa 
Markdown 
MarkupSafe 
mypy-extensions==0.4.3 
numpy 
openpyxl 
path 
pathlib2 
pathspec==0.7.0
pathtools 
pep8==1.7.1
Pillow 
pkginfo==1.7.1
pluggy 
ply==3.11
qtconsole 
QtPy 
requests 
requests-oauthlib   
SoundFile 
SQLAlchemy 
tensorflow>=2.4.0
Werkzeug 
