audioread
autopep8 
Flask 
h5py==2.10.0
html5lib  
json5 
Keras-Preprocessing 
lazy-object-proxy 
librosa 
Markdown 
MarkupSafe  
numpy 
openpyxl 
path 
pathlib2 
pathtools 
pep8==1.7.1 
pkginfo==1.7.1 
requests 
SoundFile
tensorflow>=2.4.0
Werkzeug 
